<div class="row">
    <form class="form-horizontal span12">
        <fieldset>
            <legend>Content Details</legend>
            <br/>
            <div class="row">
                <div class="span9">
                    <div class="control-group">
                        <label for="wineId" class="control-label">Id:</label>
                        <div class="controls">
                            <input id="wineId" name="id" type="text" value="<%= id === null ? '' : id %>" class="span1" disabled/>
                        </div>
                    </div>

                    <div class="control-group">
                        <label for="name" class="control-label">Titel:</label>
                        <div class="controls">
                            <input type="text" id="title" name="title" value="<%= title %>"/>
                            <span class="help-inline"></span>
                        </div>
                    </div>

                    <div class="control-group">
                        <label for="country" class="control-label">Content:</label>
                        <div class="controls">
                            <input type="text" id="content" name="content" value="<%= content %>"/>
                            <span class="help-inline"></span>
                        </div>
                    </div>

                </div>
            </div>

        </fieldset>

        <div class="form-actions">
            <a href="#" class="btn btn-primary save">Save</a>
            <a href="#" class="btn delete">Delete</a>
        </div>

    </form>

</div>

<div class="row status-bar">
    <div class="span12">
        <div class="alert alert-success" style="display: none">
            <b>Success!</b> Wine saved successfully
        </div>
    </div>
</div>
